{
  "WECHAT_APPID": "NISHIZUIBANDEZHANGXIANYU",
  "WECHAT_APPSECRET": "NISHIZUIBANDEZHANGXIANYU",
  "WECHAT_ACCOUNT_NAME": "文不加点的张衔瑜",
  "COOKIE": "1234567890",
  "TOKEN": "YOUR_WECHAT_BACKEND_TOKEN",
  "COUNT": "20",
  "SLEEP_LIST": "0.6",
  "SLEEP_ART": "0.3"
}


