// 需要修改下列对应字段，然后重命名本文件为env.json

{
  "WECHAT_APPID": "NISHIZUIBANDEZHANGXIANYU",
  "WECHAT_APPSECRET": "NISHIZUIBANDEZHANGXIANYU",
  "WECHAT_ACCOUNT_NAME": "文不加点的张衔瑜",
  "COOKIE": "1234567890",
  "TOKEN": "YOUR_WECHAT_BACKEND_TOKEN",
  "COUNT": "20",
  "SLEEP_LIST": "50",
  "SLEEP_ART": "25",
  "IMG_SLEEP": "1.2"
}


